@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* default root color  */

:root {
    --color-banner : #c6bfa5;
    --color-button:#661a00;
    --banner-overlay:#6e6e6e;
    --colorBG-item:#f5f5f7;
    --sub-footer:#535154;
    --color-footer:#414141;
    --text-color:#fff;
}
/* MAIN SECTION  */

* {
    padding: 0;
    margin: 0;
}
main {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* SECTION BANNER-AREA */

/* navBar  */
.banner {
    background-image: url('../../assets/backgrounds/hero.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Roboto',sans-serif;
    padding: 20px;
    height: 800px !important;
}

.navBar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .logo {
    font-size: 18px;
    cursor: pointer;
}

.navMenu li {
    display: inline-block;
    list-style: 0;
    margin-right: 3rem;
    align-items: center;
}

.navBar .navMenu li a {
    text-decoration: 0;
    color: #fff;
    font-size: 16px;
}

.navBar .navMenu ul img {
    cursor: pointer;
    font-size: 18px;
    cursor: pointer;
}

/* NAV-CONTENT  */

.navContent .info{
    text-align: center;
}

.tag-line-title {
    color: var(--text-color);
    font-size: 60px;
    margin-top: 160px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-weight: lighter;
}

.sub-title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 100px;
    margin-top: 40px;
    
}

.info img {
    color: var(--text-color);
    padding-bottom: 60px;
    cursor: pointer;
    margin-top: 120px;
    margin-bottom: 20px;

}

/* SECTION PRODUCTS  */

.products {
    border-right: 1px solid #aaa;
    align-items: center;
    justify-content: center;
}

.product-header {
    background-color: var(--color-banner);
    display: flex;
    /* margin-bottom: 20px; */

}
.check-box {
    padding: 30px;
    align-items: center;
}

.form-check{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 10px;
    color: #000;


}

.form-check-input:checked {
    background-color: #aaa;
    border-color:var(--color-banner);
    border: 1px solid #fefefe;
    
}

.form-check-input {
    width: 1.5em;
    height: 1.5em;
    margin-top: .1em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(39, 32, 32, 0.25);
    background-color: var(--color-banner);
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-product {
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--color-button);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-top: 20px;
    justify-content: center;
}

/* PRODUCT-CONTENT  */
/* .product-Content {
    margin-top: 10px;
    clear: both;
    margin-bottom: 20px;
    
} */


/* Product courasel  */



.cta-100 {
    /* margin-top: 100px; */
    /* padding-left: 8%; */
    padding-top: 7%;
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  /* .mt{float: left;margin-top: -20px;padding-top: 20px;} */
  /* .bg-blue-ui {
    background-color: #708198 !important;
  } */

  figure img{
    width:300px;
  }
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  
  .blog .carousel-indicators .active {
    background: #0fc9af;
  }
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  #first-item {
    border: 3px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
    /* width: 300px; */
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 200px;
    height: 250px;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 2px 8px;
    top: -10px;
    /* right: 20px; */
    /* background-color: #41cb52; */
  }
  
  .data-info {
    display: flex;
    justify-content: space-between;
    right: 0;
  }

  #data-info-name {
    color: var(--color-banner);
    text-transform: uppercase;
  }

  .item-box-blog-date span {
    color: var(--color-footer);
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
  
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
  